<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philcidr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HostLookupActivity"
            android:label="@string/app_name"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".NetworkConfigActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SubnetLookupActivity"
            android:label="@string/app_name"
            android:noHistory="true">

        </activity>
        <activity
            android:name=".SubnetSetupActivity"
            android:label="@string/app_name"
            android:noHistory="true">

        </activity>


    </application>

</manifest>
